.email_content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.email_container{
  display: flex;
}

.text-left{
  text-align: left;
}

.aliceblue{
  color: aliceblue;
}

.flex{
  display: flex;  
  width: 100%;
}

.form-group{
  margin-bottom: 1rem;
}

.form-control{
  width: 95%;
  margin-right: 3%;
  border: 3px solid rgb(172, 167, 167);
  background-color: rgb(53, 53, 60);
  height: 2.5rem;
  padding: 0.25rem;
  outline: 0;
  color: aliceblue;
}

.text-area{
  width: 97%;
  height: 7rem;
  margin-bottom: 1rem;
  resize: vertical;
}

.btn{
  background-color: rgb(20, 20, 27);
  width: 97%;
  height: 3rem;
  border: 2px solid rgb(22, 50, 48);
}


/* For medium devices */
@media screen and (max-width: 576px) {
  .email_content{
    width: 95%;
    padding: 3%;
  }

}

@media screen and (max-width: 500px) {

}

/* For small devices */
@media screen and (max-width: 350px) {
}