/* .fuente{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.App{
  width: 100%;
  height: 100%;
}

.backImage{
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: 100%;
  height: 100%;
}

.content-left{
  width: 100%;
  height: 100%;
}

.content-right{
  width: 100%;
  height: 100%;
}

.row{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 1000px;
}













